<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vote">
            <h2><span jhiTranslate="votacioApp.vote.detail.title">Vote</span> {{ vote.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="votacioApp.vote.userId">User Id</span></dt>
                <dd>
                    <span>{{ vote.userId }}</span>
                </dd>
                <dt><span jhiTranslate="votacioApp.vote.status">Status</span></dt>
                <dd>
                    <span>{{ vote.status }}</span>
                </dd>
                <dt><span jhiTranslate="votacioApp.vote.question">Question</span></dt>
                <dd>
                    <div *ngIf="vote.question">
                        <a [routerLink]="['/question', vote.question?.id, 'view']">{{ vote.question?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="votacioApp.vote.answer">Answer</span></dt>
                <dd>
                    <div *ngIf="vote.answer">
                        <a [routerLink]="['/answer', vote.answer?.id, 'view']">{{ vote.answer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vote', vote.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
